<div class="container">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <nav class="nav nav-tabs nav-fill">
      <a class="nav-item nav-link text-muted active" routerLink="/profile">Hồ sơ</a>
      <a class="nav-item nav-link text-muted" routerLink="/changepwd">Đổi mật khẩu</a>
      <a class="nav-item nav-link text-muted" routerLink="/order-history">Lịch sử đặt hàng</a>
    </nav>

    <div class="input-group mt-4">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faUserTie"></fa-icon></span>
        <input type="text" class="form-control" placeholder="Tên" formControlName="name">
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">
      <div *ngIf="f.name.errors.required">Không được bỏ trống</div>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faEnvelope"></fa-icon></span>
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
      <div *ngIf="f.email.errors.required">Không được bỏ trống</div>
      <div *ngIf="f.email.errors.email">Email không hợp lệ</div>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faPhone"></fa-icon></span>
        <input type="text" class="form-control" placeholder="Số điện thoại" name="phone" formControlName="phone">
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)">
      <div *ngIf="f.phone.errors.required">Không được bỏ trống</div>
      <div *ngIf="f.phone.errors.pattern">Số điện thoại không hợp lệ</div>
    </div>

    <div class="input-group">
      <button type="submit" class="btn btn-primary mb-4" [disabled]="!form.valid">Cập nhật</button>
    </div>
    
  </form>
</div>
