<header>
  <nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
    <div class="container">
      <div class="col-lg-3">
        <a href="#" class="navbar-brand">
          <span class="text-uppercase font-weight-bold">Commerce</span>
        </a>
      </div>
      <div class="col-lg-6">
        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Tìm kiếm" aria-label="Search" #search (keyup.enter)="searchProduct(search.value)">
        </form>
      </div>
      <div class="col-lg-3">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="cart">
                <div class="d-flex flex-row align-items-center justify-content-end">
                    <div class="cart_icon"> 
                        <fa-icon [icon]="faShoppingCart"></fa-icon>
                        <div class="cart_count"><span>{{ cartCount }}</span></div>
                    </div>
                    <div class="cart_content">
                        <div class="cart_text"><a routerLink="/cart">Giỏ hàng</a></div>
                        <div class="cart_price">{{ cartTotalPrice | currency:'VND' }}</div>
                    </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="cart">
                <div class="d-flex flex-row align-items-center justify-content-end">
                    <div class="cart_icon"> 
                        <fa-icon [icon]="faUser"></fa-icon>
                    </div>
                    <div class="cart_content">
                        <div class="cart_text">
                          <a routerLink="/login"*ngIf="!isLogin">Đăng nhập</a>
                          <a routerLink="/" *ngIf="isLogin" (click)="logout()">Đăng xuất</a>
                        </div>
                        <div class="cart_name"><a  routerLink="/profile">{{ username }}</a></div>
                    </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>   
    </div>     
  </nav>
</header>
