<footer class="page-footer fixed-bottom  bg-dark pt-4 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-3">
        <div class="mb-4 d-flex justify-content-center">
          <a>
            <fa-icon class="mr-md-5 mr-3" [icon]="faFacebookF" size="2x" ></fa-icon>
          </a>
          <a>
            <fa-icon class="mr-md-5 mr-3" [icon]="faTwitter" size="2x" ></fa-icon>
          </a>
          <a>
            <fa-icon class="mr-md-5 mr-3" [icon]="faGooglePlusG" size="2x" ></fa-icon>
          </a>
          <a>
            <fa-icon class="mr-md-5 mr-3" [icon]="faLinkedinIn" size="2x" ></fa-icon>
          </a>
          <a>
            <fa-icon class="mr-md-5 mr-3" [icon]="faInstagram" size="2x" ></fa-icon>
          </a>
          <a>
            <fa-icon class="mr-md-5 mr-3" [icon]="faPinterest" size="2x" ></fa-icon>
          </a>
        </div>
      </div>
    </div>
   
  </div>
  <div class="text-center py-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2021 Copyright
  </div>
</footer>
