<div class="card">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid rounded" src="{{ product ? url + product.imageUrl: '' }}">
    </div>
    <div class="col-md-6">
      <h4 class="mt-2"><strong>{{ product?.name }}</strong></h4>
      <p class="mb-2 text-muted text-uppercase small">Điện thoại</p>
      <p><span class="mr-1"><strong>{{ product?.price | currency:'VND' }}</strong></span></p>
      <p class="pt-1">{{ product?.description }}</p>
      <hr>
      <div>Số lượng</div>
      <div class="input-group">
        <span class="input-group-btn">
            <button type="button" class="btn btn-danger" (click)="minusQuantity()">
              <fa-icon [icon]="faMinus"></fa-icon>
            </button>
        </span>
        <input type="number" min="1" max="100" size="5" style="text-align: center;" [(ngModel)]="quantity">
        <span class="input-group-btn">
            <button type="button" class="btn btn-success" (click)="plusQuantity()">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </span>
      </div>
      <button type="button" class="btn btn-dark mt-4" (click)="addToCart()">Thêm vào giỏ hàng</button>
    </div>
  </div>
</div>