<div class="card">
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid rounded" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg">
    </div>
    <div class="col-md-6">
      <h4 class="mt-2"><strong> dien thoai</strong></h4>
      <p class="mb-2 text-muted text-uppercase small">Điện thoại</p>
      <p><span class="mr-1"><strong>$12.99</strong></span></p>
      <p class="pt-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, sapiente illo. Sit
        error voluptas repellat rerum quidem, soluta enim perferendis voluptates laboriosam. Distinctio,
        officia quis dolore quos sapiente tempore alias.</p>
      <hr>
      <div>Số lượng</div>
      <div class="input-group">
        <span class="input-group-btn">
            <button type="button" class="btn btn-danger" data-field="">
              <fa-icon [icon]="faMinus"></fa-icon>
            </button>
        </span>
        <input type="number"  value="1" min="1" max="100" size="5" style="text-align: center;">
        <span class="input-group-btn">
            <button type="button" class="btn btn-success" data-type="plus" data-field="">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
        </span>
      </div>
      <button type="button" class="btn btn-dark mt-4">Thêm vào giỏ hàng</button>
    </div>
  </div>
</div>