<div class="container">
    <nav class="nav nav-tabs nav-fill mt">
      <a class="nav-item nav-link text-muted"  routerLink="/profile">Hồ sơ</a>
      <a class="nav-item nav-link text-muted" routerLink="/changepwd">Đổi mật khẩu</a>
      <a class="nav-item nav-link text-muted active" routerLink="/order-history">Lịch sử đặt hàng</a>
    </nav>

    <table class="table table-hover mt-4">
      <thead>
        <th scope="col" class="text-center">Mã HĐ</th>
        <th scope="col" class="text-center">Thời gian</th>
        <th scope="col" class="text-center">Sản phẩm</th>
        <th scope="col" class="text-center">Tổng tiền</th>
        <th scope="col" class="text-center">Trạng thái</th>
        <th scope="col" class="text-center">x</th>
      </thead>
      <tbody>
        <tr *ngFor="let invoice of invoices">
          <td class="text-center">{{ invoice.id }}</td>
          <td class="text-center">{{ invoice.orderDate | date:'HH:mm dd/MM/yyy'}}</td>
          <td>
            <table>
              <tbody>
                <tr *ngFor="let detail of invoice.invoiceDetails">
                  <td style="column-width:300px;">{{ detail.productName }}</td>
                  <td class="text-right" style="column-width: 50px;">x{{ detail.quantity }}</td>
                  <td class="text-right" style="column-width: 100px;"><div >{{ detail.price | number }}</div></td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="text-center">{{ invoice.totalPrice | currency:'VND' }}</td>
          <td class="text-center">{{ invoice.statusVietnamese }}</td>
          <td><button class="btn btn-danger" [disabled]="invoice.status !== 'Processing'" (click)="cancelOrder(invoice.id)">Hủy</button></td>
        </tr>
      </tbody>
    </table>

</div>
