<div class="container">
  <div class="row">
    <div class="col">
      <a class="btn btn-info" routerLink="/admin/products/add">+ Thêm sản phẩm</a>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col" class="text-left">Tên sản phẩm</th>
            <th scope="col" class="text-right">Đơn giá</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | paginate: {
              itemsPerPage: pageSize,
              currentPage: page,
              totalItems: totalItems
            }" [routerLink]="['/admin/products/detail', product.id]"
          >
            <td class="text-center">{{ product.id }}</td>
            <td class="text-left">{{ product.name }}</td>
            <td class="text-right">{{ product.price | number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <pagination-controls class="text-center"
        previousLabel = ""
        nextLabel = ""
        [responsive] = "true"
        (pageChange)="handlePageChange($event)">

      </pagination-controls>
    </div>
  </div>
</div>
