<div class="container">
  <!-- <div class="alert alert-success" *ngIf="isSuccess">
    <strong>Thành công!</strong> Tài khoản của bạn đã được tạo; đăng nhập để tiếp tục.
  </div> -->

  <form class="box" [formGroup]="form" (ngSubmit)="onSubmit()">
    <nav class="nav nav-tabs nav-fill">
      <a class="nav-item nav-link active" routerLink="/profile">Hồ sơ</a>
      <a class="nav-item nav-link" routerLink="/changepwd">Đổi mật khẩu</a>
      <a class="nav-item nav-link" routerLink="/orderhistory">Lịch sử đặt hàng</a>
    </nav>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faUser"></fa-icon></span>
        <input type="text" class="form-control" placeholder="Tên tài khoản" formControlName="username" readonly>
      </div>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faUserTie"></fa-icon></span>
        <input type="text" class="form-control" placeholder="Tên" formControlName="name">
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors.required">Không được bỏ trống</div>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faEnvelope"></fa-icon></span>
        <input type="email" class="form-control" placeholder="Email" formControlName="email">
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">Không được bỏ trống</div>
      <div *ngIf="email.errors.email">Email không hợp lệ</div>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><fa-icon [icon]="faPhone"></fa-icon></span>
        <input type="text" class="form-control" placeholder="Số điện thoại" name="phone" formControlName="phone">
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="phone.invalid && (phone.dirty || phone.touched)">
      <div *ngIf="phone.errors.required">Không được bỏ trống</div>
      <div *ngIf="phone.errors.pattern">Số điện thoại không hợp lệ</div>
    </div>

    <div class="input-group">
      <button type="submit" class="btn btn-success mb-3" [disabled]="!form.valid">Cập nhật</button>
    </div>
    
  </form>
</div>
